workflows/ai/email-triage/Email Inbox Triage with AI.json
{
  "name": "Email Inbox Triage with AI",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8,14 * * 1-5"
            }
          ]
        }
      },
      "id": "d2ea48a0-4091-4f3e-a890-7b9f856c9f99",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2496,
        208
      ]
    },
    {
      "parameters": {},
      "id": "c5d359b0-257d-466b-ada1-5d5e93c0903e",
      "name": "Manual Trigger (Catchup Mode)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2496,
        400
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "output": "fields",
        "fields": [
          "subject",
          "from",
          "sender",
          "body",
          "importance",
          "receivedDateTime",
          "categories",
          "isRead"
        ],
        "filtersUI": {
          "values": {
            "filters": {
              "foldersToExclude": [
                "AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQD4uVH97PYQT5MqLYfYCfn5AAAAAAEKAAA=",
                "AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQD4uVH97PYQT5MqLYfYCfn5AAAAAAFCAAA=",
                "AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQD4uVH97PYQT5MqLYfYCfn5AAAAAAEJAAA=",
                "AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQD4uVH97PYQT5MqLYfYCfn5AAAAAWdAAAA=",
                "AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQDxCO65acX-QI1eGBNk1U7IAALkvZAkAAA=",
                "AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQD4uVH97PYQT5MqLYfYCfn5AAAAA8rHAAA=",
                "AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQD4uVH97PYQT5MqLYfYCfn5AAAAAAEaAAA=",
                "AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQD4uVH97PYQT5MqLYfYCfn5AAAAAAE4AAA=",
                "AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQD4uVH97PYQT5MqLYfYCfn5AAAAAAE0AAA=",
                "AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQD4uVH97PYQT5MqLYfYCfn5AAAAAAFDAAA=",
                "AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQD4uVH97PYQT5MqLYfYCfn5AAAAAAEbAAA=",
                "AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQDxCO65acX-QI1eGBNk1U7IAAZ58cIoAAA=",
                "AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQDxCO65acX-QI1eGBNk1U7IAAZ58cInAAA=",
                "AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQDxCO65acX-QI1eGBNk1U7IAAZ58cIpAAA=",
                "AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQDxCO65acX-QI1eGBNk1U7IAAZ58cImAAA="
              ],
              "readStatus": "unread"
            }
          }
        },
        "options": {}
      },
      "id": "1d74f63e-1a50-4a47-9b65-5a983e9ea396",
      "name": "Get Unread Emails",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -2256,
        304
      ],
      "webhookId": "0c72ad9b-75b7-4b20-a0a0-bbbb1bbaf74d",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "N9wV0fjZStwhPHx2",
          "name": "vladimir.tsoy@dairylandpower.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "filter_categories",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.categories }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5162e984-1567-4faf-88cd-9b12600390c0",
      "name": "Filter Uncategorized",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2000,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cbc725a3-36db-4870-b54f-c296454c288f",
      "name": "Loop Over Emails",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1744,
        304
      ]
    },
    {
      "parameters": {
        "html": "={{ $json.body.content }}",
        "options": {}
      },
      "id": "0047bccb-e9ca-4600-98bc-31009dad16ea",
      "name": "Convert Body to Markdown",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -1504,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id",
              "name": "id",
              "type": "string",
              "value": "={{ $('Loop Over Emails').item.json.id }}"
            },
            {
              "id": "subject",
              "name": "subject",
              "type": "string",
              "value": "={{ $('Loop Over Emails').item.json.subject }}"
            },
            {
              "id": "senderEmail",
              "name": "senderEmail",
              "type": "string",
              "value": "={{ $('Loop Over Emails').item.json.sender.emailAddress.address }}"
            },
            {
              "id": "senderName",
              "name": "senderName",
              "type": "string",
              "value": "={{ $('Loop Over Emails').item.json.sender.emailAddress.name }}"
            },
            {
              "id": "importance",
              "name": "importance",
              "type": "string",
              "value": "={{ $('Loop Over Emails').item.json.importance }}"
            },
            {
              "id": "receivedDateTime",
              "name": "receivedDateTime",
              "type": "string",
              "value": "={{ $('Loop Over Emails').item.json.receivedDateTime }}"
            },
            {
              "id": "body",
              "name": "body",
              "type": "string",
              "value": "={{ $json.data.replace(/<[^>]*>/g, '').replace(/\\[(.*?)\\]\\((.*?)\\)/g, '').replace(/!\\[.*?\\]\\(.*?\\)/g, '').replace(/\\|/g, '').replace(/-{3,}/g, '').replace(/\\n+/g, ' ').replace(/\\s{2,}/g, ' ').trim().substring(0, 3000) }}"
            },
            {
              "id": "isInternal",
              "name": "isInternal",
              "type": "boolean",
              "value": "={{ $('Loop Over Emails').item.json.sender.emailAddress.address.toLowerCase().endsWith('@dairylandpower.com') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bcb93832-671c-4728-9d89-b1ef297931fa",
      "name": "Prepare Email Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze and categorize the following email:\n\n**From:** {{ $json.senderEmail }} ({{ $json.senderName }})\n**Subject:** {{ $json.subject }}\n**Importance:** {{ $json.importance }}\n**Received:** {{ $json.receivedDateTime }}\n**Internal Sender:** {{ $json.isInternal }}\n\n**Body:**\n{{ $json.body }}\n\nRespond with JSON only.",
        "options": {
          "systemMessage": "You are an email triage assistant helping organize emails for a professional at Dairyland Power Cooperative (dairylandpower.com).\n\nYour task is to analyze each email and categorize it based on urgency and whether a response is required.\n\n## Categories\n\n1. **urgent** - Time-sensitive emails with deadlines, urgent requests, or critical matters that need immediate attention.\n2. **action-internal** - Emails FROM @dairylandpower.com colleagues that require your response or action but are not urgent.\n3. **action-external** - Emails FROM outside @dairylandpower.com that require your response or action but are not urgent.\n4. **informational** - Emails that are FYI only and do NOT require any response or action.\n\n## Analysis Rules\n\n1. First, check if the email is URGENT (deadlines, critical keywords, time-sensitive)\n2. If not urgent, determine if a RESPONSE or ACTION is required\n3. If response needed, check if sender is internal (already provided in input):\n   - Internal = action-internal\n   - External = action-external\n4. If no response needed = informational\n\n## Output Format\n\nYou MUST respond with valid JSON only, no additional text:\n\n{\n  \"category\": \"urgent|action-internal|action-external|informational\",\n  \"confidence\": \"high|medium|low\",\n  \"summary\": \"One sentence summary of what this email is about\",\n  \"actionRequired\": \"Brief description of what action is needed, or 'None' for informational\",\n  \"reasoning\": \"Brief explanation of why this category was chosen\"\n}",
          "maxIterations": 3
        }
      },
      "id": "15a66a16-827a-42f1-b3dc-c57df1336992",
      "name": "AI Categorize Email",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1008,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result",
              "name": "result",
              "type": "object",
              "value": "={{ JSON.parse($json.output.replace(/^[^{]*/, '').replace(/[^}]*$/, '')) }}"
            },
            {
              "id": "emailId",
              "name": "emailId",
              "type": "string",
              "value": "={{ $('Prepare Email Data').item.json.id }}"
            },
            {
              "id": "subject",
              "name": "subject",
              "type": "string",
              "value": "={{ $('Prepare Email Data').item.json.subject }}"
            },
            {
              "id": "senderEmail",
              "name": "senderEmail",
              "type": "string",
              "value": "={{ $('Prepare Email Data').item.json.senderEmail }}"
            },
            {
              "id": "senderName",
              "name": "senderName",
              "type": "string",
              "value": "={{ $('Prepare Email Data').item.json.senderName }}"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "cb108283-2cae-490c-8d0e-82b90e4af830",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        304
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "confidence_check",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.result.confidence }}",
              "rightValue": "low"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f774e6f9-6fd3-43cb-9369-434f983d9e82",
      "name": "Check Confidence",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -496,
        304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.result.category }}",
                    "rightValue": "urgent"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "urgent"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.result.category }}",
                    "rightValue": "action-internal"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "action-internal"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.result.category }}",
                    "rightValue": "action-external"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "action-external"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.result.category }}",
                    "rightValue": "informational"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "informational"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "d77c327e-bfde-4d14-b1c1-ca5dfdf8f333",
      "name": "Route by Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -256,
        208
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.emailId }}"
        },
        "updateFields": {
          "categories": [
            "Urgent"
          ]
        }
      },
      "id": "4c46fb61-fc88-4aef-8706-7f0b7e005be4",
      "name": "Set Category: Urgent",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "a7eb2ceb-439c-4bdd-902d-2688b74f23ca",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "N9wV0fjZStwhPHx2",
          "name": "vladimir.tsoy@dairylandpower.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.emailId }}"
        },
        "updateFields": {
          "categories": [
            "Action-Internal"
          ]
        }
      },
      "id": "eb7b22b8-4baa-44ca-a2d1-b95378001c1b",
      "name": "Set Category: Action-Internal",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        0,
        160
      ],
      "webhookId": "66c17922-6cc8-4eb1-9614-0147d4b0bfb9",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "N9wV0fjZStwhPHx2",
          "name": "vladimir.tsoy@dairylandpower.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.emailId }}"
        },
        "updateFields": {
          "categories": [
            "Action-External"
          ]
        }
      },
      "id": "70b46025-cb1e-4c75-8651-1b0bae4a161a",
      "name": "Set Category: Action-External",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        0,
        304
      ],
      "webhookId": "060d493a-3eca-4698-b894-dfb7ca3fd4b5",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "N9wV0fjZStwhPHx2",
          "name": "vladimir.tsoy@dairylandpower.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.emailId }}"
        },
        "updateFields": {
          "categories": [
            "Informational"
          ]
        }
      },
      "id": "7729361f-6343-4de2-a36e-4e967a6949d9",
      "name": "Set Category: Informational",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        0,
        464
      ],
      "webhookId": "e5ae1288-edf6-4989-bf70-dde5e23ffa65",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "N9wV0fjZStwhPHx2",
          "name": "vladimir.tsoy@dairylandpower.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Parse AI Response').item.json.emailId }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQDxCO65acX-QI1eGBNk1U7IAAZ58cImAAA=",
          "mode": "list",
          "cachedResultName": "Urgent",
          "cachedResultUrl": "https://outlook.office365.com/mail/AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQDxCO65acX%2FQI1eGBNk1U7IAAZ58cImAAA%3D"
        }
      },
      "id": "08a116f6-feb6-4562-adf4-2545e76b4758",
      "name": "Move to Urgent Folder",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        256,
        0
      ],
      "webhookId": "039bff18-0bcc-4409-a4f2-989726f07599",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "N9wV0fjZStwhPHx2",
          "name": "vladimir.tsoy@dairylandpower.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Parse AI Response').item.json.emailId }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQDxCO65acX-QI1eGBNk1U7IAAZ58cInAAA=",
          "mode": "list",
          "cachedResultName": "Action-Internal",
          "cachedResultUrl": "https://outlook.office365.com/mail/AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQDxCO65acX%2FQI1eGBNk1U7IAAZ58cInAAA%3D"
        }
      },
      "id": "d98d63df-56fe-4b32-971c-34959cbfd64d",
      "name": "Move to Action-Internal Folder",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        256,
        160
      ],
      "webhookId": "9fea850f-42c4-4afb-a057-9c78fd54c8a5",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "N9wV0fjZStwhPHx2",
          "name": "vladimir.tsoy@dairylandpower.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Parse AI Response').item.json.emailId }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQDxCO65acX-QI1eGBNk1U7IAAZ58cIoAAA=",
          "mode": "list",
          "cachedResultName": "Action-External",
          "cachedResultUrl": "https://outlook.office365.com/mail/AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQDxCO65acX%2FQI1eGBNk1U7IAAZ58cIoAAA%3D"
        }
      },
      "id": "df9d4732-fdf0-4a57-9b8c-1787fdb7f577",
      "name": "Move to Action-External Folder",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        256,
        304
      ],
      "webhookId": "19a0cf69-cb0b-4b05-96cf-6ff785944bb0",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "N9wV0fjZStwhPHx2",
          "name": "vladimir.tsoy@dairylandpower.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": {
          "__rl": true,
          "value": "={{ $('Parse AI Response').item.json.emailId }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQDxCO65acX-QI1eGBNk1U7IAAZ58cIpAAA=",
          "mode": "list",
          "cachedResultName": "Informational",
          "cachedResultUrl": "https://outlook.office365.com/mail/AAMkADJkZjg1OGQzLTc2M2ItNDEzMy05ZGU3LTUzOTI2YjhmMmFhOAAuAAAAAADEqkhWBpr6QqYOmB1LHWoMAQDxCO65acX%2FQI1eGBNk1U7IAAZ58cIpAAA%3D"
        }
      },
      "id": "e18ff5f7-8a47-469b-9a69-95d1ba4c7068",
      "name": "Move to Informational Folder",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        256,
        464
      ],
      "webhookId": "fdb42340-e46c-4d04-979d-12ddec93d54e",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "N9wV0fjZStwhPHx2",
          "name": "vladimir.tsoy@dairylandpower.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "category",
              "name": "category",
              "type": "string",
              "value": "urgent"
            },
            {
              "id": "subject",
              "name": "subject",
              "type": "string",
              "value": "={{ $('Parse AI Response').item.json.subject }}"
            },
            {
              "id": "senderName",
              "name": "senderName",
              "type": "string",
              "value": "={{ $('Parse AI Response').item.json.senderName }}"
            },
            {
              "id": "senderEmail",
              "name": "senderEmail",
              "type": "string",
              "value": "={{ $('Parse AI Response').item.json.senderEmail }}"
            },
            {
              "id": "summary",
              "name": "summary",
              "type": "string",
              "value": "={{ $('Parse AI Response').item.json.result.summary }}"
            }
          ]
        },
        "options": {}
      },
      "id": "collect-urgent-result",
      "name": "Collect Urgent Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "category",
              "name": "category",
              "type": "string",
              "value": "action-internal"
            },
            {
              "id": "subject",
              "name": "subject",
              "type": "string",
              "value": "={{ $('Parse AI Response').item.json.subject }}"
            },
            {
              "id": "senderName",
              "name": "senderName",
              "type": "string",
              "value": "={{ $('Parse AI Response').item.json.senderName }}"
            },
            {
              "id": "senderEmail",
              "name": "senderEmail",
              "type": "string",
              "value": "={{ $('Parse AI Response').item.json.senderEmail }}"
            },
            {
              "id": "summary",
              "name": "summary",
              "type": "string",
              "value": "={{ $('Parse AI Response').item.json.result.summary }}"
            }
          ]
        },
        "options": {}
      },
      "id": "collect-action-internal-result",
      "name": "Collect Action-Internal Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "category",
              "name": "category",
              "type": "string",
              "value": "action-external"
            },
            {
              "id": "subject",
              "name": "subject",
              "type": "string",
              "value": "={{ $('Parse AI Response').item.json.subject }}"
            },
            {
              "id": "senderName",
              "name": "senderName",
              "type": "string",
              "value": "={{ $('Parse AI Response').item.json.senderName }}"
            },
            {
              "id": "senderEmail",
              "name": "senderEmail",
              "type": "string",
              "value": "={{ $('Parse AI Response').item.json.senderEmail }}"
            },
            {
              "id": "summary",
              "name": "summary",
              "type": "string",
              "value": "={{ $('Parse AI Response').item.json.result.summary }}"
            }
          ]
        },
        "options": {}
      },
      "id": "collect-action-external-result",
      "name": "Collect Action-External Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "category",
              "name": "category",
              "type": "string",
              "value": "informational"
            },
            {
              "id": "subject",
              "name": "subject",
              "type": "string",
              "value": "={{ $('Parse AI Response').item.json.subject }}"
            },
            {
              "id": "senderName",
              "name": "senderName",
              "type": "string",
              "value": "={{ $('Parse AI Response').item.json.senderName }}"
            },
            {
              "id": "senderEmail",
              "name": "senderEmail",
              "type": "string",
              "value": "={{ $('Parse AI Response').item.json.senderEmail }}"
            },
            {
              "id": "summary",
              "name": "summary",
              "type": "string",
              "value": "={{ $('Parse AI Response').item.json.result.summary }}"
            }
          ]
        },
        "options": {}
      },
      "id": "collect-informational-result",
      "name": "Collect Informational Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        464
      ]
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "id": "4f4a1bfc-d64f-4124-a280-c7d90d1de10c",
      "name": "Merge Processed Emails",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        768,
        304
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "ae289d28-0f18-41ed-b68c-7feed99eaf6d",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1008,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst allResults = items.flatMap(item => item.json.data || []);\n\nconst summary = {\n  urgent: [],\n  actionInternal: [],\n  actionExternal: [],\n  informational: [],\n  skipped: 0\n};\n\nfor (const email of allResults) {\n  // Data now comes from our Collect Result nodes with explicit fields\n  const category = email.category;\n  const subject = email.subject || 'No Subject';\n  const sender = email.senderName || email.senderEmail || 'Unknown';\n  const emailSummary = email.summary || '';\n  \n  const item = {\n    subject: subject,\n    sender: sender,\n    summary: emailSummary\n  };\n  \n  switch (category) {\n    case 'urgent':\n      summary.urgent.push(item);\n      break;\n    case 'action-internal':\n      summary.actionInternal.push(item);\n      break;\n    case 'action-external':\n      summary.actionExternal.push(item);\n      break;\n    case 'informational':\n      summary.informational.push(item);\n      break;\n    default:\n      summary.skipped++;\n  }\n}\n\nconst totalProcessed = summary.urgent.length + summary.actionInternal.length + summary.actionExternal.length + summary.informational.length;\n\n// Build HTML message for Teams chat\nlet html = '<h2>📧 Email Triage Summary</h2>';\nhtml += `<p><strong>Total Processed:</strong> ${totalProcessed} | <strong>Skipped:</strong> ${summary.skipped}</p>`;\n\nif (totalProcessed === 0) {\n  html += '<p style=\"color: green;\">✅ No unread emails to process. Your inbox is clear!</p>';\n} else {\n  // Urgent section\n  if (summary.urgent.length > 0) {\n    html += `<h3 style=\"color: #D13438;\">🚨 URGENT (${summary.urgent.length})</h3><ul>`;\n    for (const e of summary.urgent) {\n      html += `<li><strong>${e.subject}</strong> from ${e.sender}<br/><em>${e.summary}</em></li>`;\n    }\n    html += '</ul>';\n  }\n  \n  // Action Internal section\n  if (summary.actionInternal.length > 0) {\n    html += `<h3 style=\"color: #CA5010;\">📋 Action Required - Internal (${summary.actionInternal.length})</h3><ul>`;\n    for (const e of summary.actionInternal) {\n      html += `<li><strong>${e.subject}</strong> from ${e.sender}</li>`;\n    }\n    html += '</ul>';\n  }\n  \n  // Action External section\n  if (summary.actionExternal.length > 0) {\n    html += `<h3 style=\"color: #CA5010;\">📤 Action Required - External (${summary.actionExternal.length})</h3><ul>`;\n    for (const e of summary.actionExternal) {\n      html += `<li><strong>${e.subject}</strong> from ${e.sender}</li>`;\n    }\n    html += '</ul>';\n  }\n  \n  // Informational section\n  if (summary.informational.length > 0) {\n    html += `<h3>ℹ️ Informational (${summary.informational.length})</h3>`;\n    html += `<p><em>${summary.informational.length} emails moved to Informational folder</em></p>`;\n  }\n}\n\nreturn [{ json: { teamsMessage: html, summary, totalProcessed } }];"
      },
      "id": "cdf1729f-62cc-454f-9d04-510f832b6bb7",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        304
      ]
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:b7ffddcb-0adb-481c-b6c6-f088268ef55a_358f0194-6b0e-4dd3-af35-c24fe8a9ec87@unq.gbl.spaces",
          "mode": "list",
          "cachedResultName": "Vladimir Tsoy (oneOnOne)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3Ab7ffddcb-0adb-481c-b6c6-f088268ef55a_358f0194-6b0e-4dd3-af35-c24fe8a9ec87%40unq.gbl.spaces/0?tenantId=a2d60118-f9ae-481b-a439-270394ebb909"
        },
        "contentType": "html",
        "message": "={{ $json.teamsMessage }}",
        "options": {}
      },
      "id": "44e9db86-f769-46d9-8d6b-3f37c0c07060",
      "name": "Send to Teams Chat",
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1520,
        304
      ],
      "webhookId": "ac238d6f-fbd2-4fd7-832e-20f9392ff36e",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "05rEOTSeP5oQpNPR",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {},
      "id": "28638a30-aecc-4761-8acd-62a1966e1a44",
      "name": "Skip (Low Confidence)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -256,
        464
      ]
    },
    {
      "parameters": {},
      "id": "fdcd1557-acdf-4354-b2dd-139ca03040cf",
      "name": "Handle Parse Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -496,
        512
      ]
    },
    {
      "parameters": {
        "model": "gpt-5.2",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "5887c343-5e32-4d54-9958-2b37c84c6d72",
      "name": "Azure OpenAI GPT-5.2",
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -1008,
        512
      ],
      "credentials": {
        "azureOpenAiApi": {
          "id": "qDSVTzIszJIGt4ka",
          "name": "dpcazaichat-aillm"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Unread Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger (Catchup Mode)": {
      "main": [
        [
          {
            "node": "Get Unread Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unread Emails": {
      "main": [
        [
          {
            "node": "Filter Uncategorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Uncategorized": {
      "main": [
        [
          {
            "node": "Loop Over Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Emails": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert Body to Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Body to Markdown": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Data": {
      "main": [
        [
          {
            "node": "AI Categorize Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Categorize Email": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Check Confidence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Confidence": {
      "main": [
        [
          {
            "node": "Route by Category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip (Low Confidence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Category": {
      "main": [
        [
          {
            "node": "Set Category: Urgent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Category: Action-Internal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Category: Action-External",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Category: Informational",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Processed Emails",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Set Category: Urgent": {
      "main": [
        [
          {
            "node": "Move to Urgent Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Category: Action-Internal": {
      "main": [
        [
          {
            "node": "Move to Action-Internal Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Category: Action-External": {
      "main": [
        [
          {
            "node": "Move to Action-External Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Category: Informational": {
      "main": [
        [
          {
            "node": "Move to Informational Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Urgent Folder": {
      "main": [
        [
          {
            "node": "Collect Urgent Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Action-Internal Folder": {
      "main": [
        [
          {
            "node": "Collect Action-Internal Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Action-External Folder": {
      "main": [
        [
          {
            "node": "Collect Action-External Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Informational Folder": {
      "main": [
        [
          {
            "node": "Collect Informational Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Urgent Result": {
      "main": [
        [
          {
            "node": "Merge Processed Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Action-Internal Result": {
      "main": [
        [
          {
            "node": "Merge Processed Emails",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Collect Action-External Result": {
      "main": [
        [
          {
            "node": "Merge Processed Emails",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Collect Informational Result": {
      "main": [
        [
          {
            "node": "Merge Processed Emails",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge Processed Emails": {
      "main": [
        [
          {
            "node": "Loop Over Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip (Low Confidence)": {
      "main": [
        [
          {
            "node": "Loop Over Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Parse Error": {
      "main": [
        [
          {
            "node": "Loop Over Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Send to Teams Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI GPT-5.2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Categorize Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "08c9edea-89da-4b27-9f48-560049dab9e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a85a11579b67f02f1e1bdeeb52006a9f9c254f98aa387d6b578a0d485f439036"
  },
  "id": "qa2ojc7fD_QOlCRImSnWQ",
  "tags": []
}
